apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
data:
  SECRET_KEY: {{ .Values.secret.secretKey | b64enc }}
  DB_PASSWORD: {{ .Values.secret.dbPassword | b64enc }}
